<form
  class="form"
  [ngFormOptions]="{ updateOn: 'submit' }"
  #form="ngForm"
  (reset)="onReset($event)"
  (ngSubmit)="onSubmitForm($event)"
>
  <div class="form-field">
    <label for="name">First Name</label>
    <input
      #firstName="ngModel"
      [(ngModel)]="userInfo.firstName"
      [ngModelOptions]="{ updateOn: 'blur' }"
      [required]="true"
      [minlength]="2"
      [appBanWords]="'test'"
      [name]="'first-name'"
      [type]="'text'"
      [id]="'name'"
      [placeholder]="'Enter your name'"
    />
  </div>

  <div class="form-field">
    <label for="last-name">Last Name</label>
    <input
      #lastName="ngModel"
      [(ngModel)]="userInfo.lastName"
      [ngModelOptions]="{ updateOn: 'blur' }"
      [required]="true"
      [minlength]="2"
      [name]="'last-name'"
      [type]="'text'"
      [id]="'last-name'"
      [placeholder]="'Enter your last name'"
    />
  </div>

  <div class="form-field">
    <label for="nickname">Nickname</label>
    <input
      #nickname="ngModel"
      [(ngModel)]="userInfo.nickname"
      [ngModelOptions]="{ updateOn: 'blur' }"
      [id]="'nickname'"
      [name]="'nickname'"
      [type]="'text'"
      [placeholder]="'Come up with a nickname'"
      pattern="^[\w.]+$"
      [required]="true"
      [minlength]="3"
      appUniqueNickname
      [appBanWords]="isAdult ? ['test', 'test_test', 'dummy'] : []"
    />
    <div *ngIf="nickname.pending" class="input-info">Checking...</div>
  </div>
</form>

<div>
  <pre>{{ formDir?.value | json }}</pre>
</div>
<div>
  <pre>{{ formDir?.valid | json }}</pre>
</div>

<div>
  <pre>{{ userInfo | json }}</pre>
</div>
